<h1>Bonjour !</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<p>
    Vous devez vous Connecter à la page qui concerne le lien ci-dessus pour valider votre Inscription au site.
</p>
<p>
    Bonne Journée !
</p>
