<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>
      {% block title %}
        Colibri - Connexion
      {% endblock %}
    </title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    {% block stylesheets %}
      <!-- Favicons -->
      <link href="https://www.agence-colibri.com/wp-content/uploads/2021/05/cropped-logo_seul_200_HD-60x60.png"
        rel="icon" />
      <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />

      <!-- Vendor CSS Files -->
      <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css"
        rel="stylesheet" />
      <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
        rel="stylesheet" />
      <link href="assets/vendor/boxicons/css/boxicons.min.css"
        rel="stylesheet" />
      <link href="assets/vendor/glightbox/css/glightbox.min.css"
        rel="stylesheet" />
      <link href="assets/vendor/swiper/swiper-bundle.min.css"
        rel="stylesheet" />

      <!-- Template Main CSS File -->
      <link href="assets/css/style.css" rel="stylesheet" />
    {% endblock %}
  </head>

  <body>
    {% block body %}
      <!-- Ajoute le menu de Navigation -->
      {% include 'Navigation/navigation.html.twig' %}

      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
              <h1>
                Besoin d’un expert du web ?
              </h1>
              <h2 style="color:#ff6750">
                Ça tombe bien ! Vous êtes au bon endroit !
              </h2>
              <h2>
                Notre équipe est spécialisée dans plusieurs domaines du web et
                notre synergie nous permet de vous proposer des optimisations
                adaptées à votre activité sur internet.
              </h2>
              <br />
              <h2>
                Et concrètement, que souhaitez-vous pour votre business ?
              </h2>
              <div>
                <a href="https://www.agence-colibri.com/que-cherchez-vous/"
                  target="_blank"
                  class="btn-get-started scrollto">
                  Dites-nous tout
                </a>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img"
              data-aos="zoom-in"
              data-aos-delay="150">
              <img src="assets/img/hero-img.png"
                class="img-fluid animated"
                alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->

        <!-- ======= Section ======= -->
        <section id="contact" class="contact sect">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>
                        Connexion
                    </h2>
                    {% if error %}
                        <div class="my-3" style="color:red">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                </div>

                    <form action="{{ path('login') }}" method="post">
                        <div class="row">
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="username">Adresse Mail :</label>
                                <input class="form-control" type="text" name="_username" value="{{ last_username }}" />
                            </div>

                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <label for="password">Mot de passe:</label>
                                <input class="form-control" type="password" name="_password" />
                            </div>
                        </div>

                        <br/>
                        <div class="text-center">
                            <button class="form-control" type="submit">Connexion</button>
                        </div>
                    </form>
       

            </div>
        </section>
        <!-- End Section -->
    {% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright-wrap d-md-flex py-4">
          <div class="me-md-auto text-center text-md-start">
            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/techie-free-skin-bootstrap-3/ -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://www.linkedin.com/company/agence-colibri-strat%C3%A9gie-digitale-application-web/"
              target="_blank"
              class="linkedin">
              <i class="bx bxl-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#"
      class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <div id="preloader"></div>

    {% block javascripts %}
      <!-- Vendor JS Files -->
      <script src="assets/vendor/purecounter/purecounter.js"></script>
      <script src="assets/vendor/aos/aos.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>

      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
    {% endblock %}
  </body>
</html>
